absl-py==1.4.0
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
ale-py==0.8.1
anyio @ file:///tmp/build/80754af9/anyio_1644481695334/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644553347904/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs @ file:///croot/attrs_1668696182826/work
ax-platform==0.1.20
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
black==23.1.0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
blis==0.7.9
botorch==0.4.0
Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.5
brotlipy==0.7.0
cachetools==5.3.0
carbontracker==1.1.7
catalogue==2.0.8
cbor==1.0.0
certifi==2022.12.7
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==2.1.1
chest==0.2.3
click==8.1.3
cloudpickle==2.2.1
cma==3.3.0
coloredlogs==15.0.1
comm @ file:///croot/comm_1671231121260/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
comocma==0.5.1
confection==0.0.4
ConfigSpace==0.6.1
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
coverage==7.2.1
cryptography @ file:///croot/cryptography_1673298753778/work
cwl-eval==1.0.12
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.7
Cython==0.29.33
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
data==0.4
debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
dill==0.3.6
empirical-attainment-func==0.3.7
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908313000/work
exceptiongroup==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fast-pareto==0.2.2
fasteners==0.18
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.12.0
flake8==6.0.0
Flask==2.2.3
flatbuffers==23.1.21
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec==2023.4.0
funcsigs==1.0.2
future @ file:///home/builder/ci_310/future_1640790123501/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
geocoder==1.38.1
glfw==2.5.6
google==3.0.0
google-api-core==2.11.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-cloud-vision==3.3.1
google-crc32c==1.5.0
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
gpytorch==1.8.0
grpcio==1.51.1
grpcio-status==1.51.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.27.1
gymnasium-notices==0.0.1
h5py==3.8.0
HeapDict==1.0.1
huggingface-hub==0.14.0
humanfriendly==10.0
idna @ file:///croot/idna_1666125576474/work
ijson==3.2.0.post0
imageio==2.25.1
imageio-ffmpeg==0.4.8
importlib-metadata==5.1.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1674681422581/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
ir-datasets==0.5.4
ir-measures==0.3.1
itsdangerous==2.1.2
jax==0.3.24
jax-jumpy==0.2.0
jaxlib==0.3.24
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///opt/conda/conda-bld/jsonschema_1663375472438/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1671541909316/work
jupyter-server @ file:///croot/jupyter_server_1671707632269/work
jupyter_client @ file:///croot/jupyter_client_1671703053786/work
jupyter_core @ file:///croot/jupyter_core_1672332224593/work
jupyterlab @ file:///croot/jupyterlab_1675354114448/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///croot/jupyterlab_server_1672127357747/work
keras==2.11.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
kneed==0.8.2
langcodes==3.3.0
latex==0.7.0
lenspy==1.1.0
libclang==15.0.6.1
lightgbm==3.3.5
linear-operator==0.2.0
llvmlite==0.39.1
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
lz4==4.3.2
Markdown @ file:///croot/markdown_1671541909495/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matchpy==0.5.5
matplotlib @ file:///croot/matplotlib-suite_1670466153205/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mccabe==0.7.0
mistune @ file:///home/builder/ci_310/mistune_1640791641754/work
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
moarchiving==0.6.0
more-itertools==9.0.0
moviepy==1.0.3
mpmath==1.3.0
mujoco==2.2.0
mujoco-py==2.1.2.14
multidict @ file:///croot/multidict_1665674239670/work
multipledispatch==0.6.0
multiset==2.1.1
munkres==1.1.4
murmurhash==1.0.9
mypy==1.0.1
mypy-extensions==1.0.0
nbclassic @ file:///croot/nbclassic_1668174957779/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290238894/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
nmslib==2.1.1
notebook @ file:///croot/notebook_1668179881751/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
nptyping==1.4.4
numba==0.56.4
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
ofa==0.1.0.post202203231606
onnxruntime==1.14.1
opencv-python==4.7.0.68
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.4.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.11.0
pathy==0.10.1
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
plotly==5.13.0
pluggy==1.0.0
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
preshed==3.0.8
proglog==0.1.10
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py==1.11.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pyautocorpus==0.1.9
pybind11==2.6.1
pycodestyle==2.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pyfakefs==5.2.2
pyflakes==3.0.1
pygame==2.1.3.dev8
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyjnius==1.4.2
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pynvml==11.4.1
PyOpenGL==3.1.6
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
pyro-api==0.1.2
pyro-ppl==1.8.4
pyrsistent @ file:///home/builder/ci_310/pyrsistent_1640807196327/work
pyserini==0.21.0
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==7.0.1
pytest-cov==4.0.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-terrier==0.9.2
pytrec-eval-terrier==0.5.5
pytz @ file:///croot/pytz_1671697431263/work
PyYAML==6.0
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole @ file:///croot/qtconsole_1674008428467/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
ratelim==0.1.6
regex==2023.3.23
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-mock==1.10.0
requests-oauthlib==1.3.1
rich @ file:///tmp/abs_f016wesp06/croots/recipe/rich_1659708287203/work
rsa==4.9
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.98
Shimmy==0.2.1
shutilwhich==1.1.0
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
sniffio @ file:///home/builder/ci_310/sniffio_1640794799774/work
soupsieve @ file:///croot/soupsieve_1666296392845/work
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.5
swig==4.1.1
sympy==1.11.1
tempdir==0.7.1
tenacity==8.2.1
tensorboard==2.11.2
tensorboard-data-server @ file:///croot/tensorboard-data-server_1670853588388/work/tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado @ file:///croot/terminado_1671751832461/work
thinc==8.1.9
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==1.13.1
torch-summary==1.4.5
torchvision==0.14.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
traitlets @ file:///croot/traitlets_1671143879854/work
transformers==4.28.1
trec-car-tools==2.6
typeguard==2.13.3
typer==0.7.0
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
typish==1.9.3
unlzw3==0.2.2
urllib3 @ file:///croot/urllib3_1673575502006/work
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wasabi==1.1.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///home/builder/ci_310/websocket-client_1640795866898/work
Werkzeug @ file:///croot/werkzeug_1671215996852/work
wget==3.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009354667/work
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp==3.11.0
zlib-state==0.1.5
